header{
    background-color:#343a40;
}

#main-title,
#footer-title,
#small-title
{
    color:cornsilk;
}

#main-title{
    height: 70px;
}

/* お題 */
img {
    height: 100%;
    width: 100%;
}

.card{
    height: 300px;
    width: 100%;
}

.card-body{
    text-align: center;
    vertical-align: middle;
}
