header{
    background-color:#343a40;
}

#main-title,
#footer-title,
#small-title
{
    color:cornsilk;
}

#main-title{
    padding-left: 10px;
    height: 70px;
}

.form-group{
    display: flex;
    margin-left: 50px;
}

.modal-header{
    display: block;
    text-align: center;
}

.form-wrap{
    display: block;
    text-align: center;
}

#modalInput{
    margin-left: 0%;
    box-sizing: content-box;
}

.btn2{
    margin-top: 15px;
}

#comment{
    table-layout: fixed;
    width: 100%;
}

.width70{
    width: 70%;
}

.width30{
    width: 30%;
}

.about{
    text-align: center;
}

.return{
    padding: 10px 0 0 10px;
}